# Ignore node_modules
node_modules/

# Ignore les fichiers de logs
*.log

# Ignore les fichiers de configuration des IDE
.vscode/
.idea/

# Ignore les fichiers temporaires
*.tmp
*.swp

# Ignore les fichiers générés par le système
.DS_Store
